<!DOCTYPE html>
<html>
<head>

	<title>User Profile : {{ data.username }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='commanPages/profile.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='homePages/homeStyle.css') }}">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

	<link rel="stylesheet" href="{{ url_for('static',filename='logPages/css/style.css') }}">

	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

	<!-- Jquery -->
	<script
	  src="https://code.jquery.com/jquery-3.6.0.min.js"
	  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	  crossorigin="anonymous"></script>
	  
	<!-- JS File -->
	<script type="text/javascript" src="{{ url_for('static',filename='homePages/homeScript.js') }}"></script>

</head>
<body>
	<DIV class="fluid-container bck_color">
		<div class="header-section">
			<div class="container">
				<div class="menu-bar row">
					<div class="col-sm-1 menu-options">
						<a class="a_links" href="{{url_for('load_user_home', id=data.username)}}">
							Home
							<span class="lnr lnr-home"></span>
						</a>
					</div>
					<div class="col-sm-8">
						
					</div>
					<div class="col-sm-1">
						<!-- Profile
						<span class="lnr lnr-user"></span> -->
					</div>
					<div class="col-sm-1 menu-options">
						<a class="a_links" href="{{url_for('load_user_profile', id=data.username)}}">
							Profile
							<span class="lnr lnr-user"></span>
						</a>
					</div>
					<!-- <div class="col-sm-1 menu-options">
						Settings
						<span class="lnr lnr-cog"></span>
					</div> -->
					<div class="col-sm-1 menu-options">
						<a class="a_links" href="/logout/{{data.username}}">
							Logout
							<span class="lnr lnr-power-switch"></span>
						</a>
					</div>
				</div>
				<div class="welcome_user row">
					<div class="col-sm-2">
						
					</div>
					<div class="welcome_text col-sm-8">
						Profile : {{ data.username }}
					</div>
					<div class="col-sm-2">
						
					</div>
				</div>
				
			</div>
		</div>
		<div class="body-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						
					</div>
					<div class="col-sm-8">
						<div class="profile-block">
							<div class="row">
								<div class="col-sm-3">
									User Name : 
								</div>
								<div class="col-sm-4">
									{{ data.username }}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									Email : 
								</div>
								<div class="col-sm-4">
									<!-- <input type="text" name="email" value="{{ data.email }}" disabled="true"> -->
									{{ data.email }}
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									Account Created : 
								</div>
								<div class="col-sm-4">
									{{ data.account_created_on }}
								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">
									Password : 
								</div>
								<div class="col-sm-4">
									{{ data.password }}
								</div>
							</div>

						</div>
					</div>					
				</div>

				
				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8">
						<button class="btn btn-danger">
							Delete Account
						</button>
						<button class="btn btn-warning">
							Edit Account
						</button>
					</div>
				</div>
				

			</div>
		</div>
	</DIV>
</body>
</html>