<!DOCTYPE html>
<html>
<head>

	<title>View Reports</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='homePages/homeStyle.css') }}">

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

	<!-- CSS Files -->
	<link rel="stylesheet" href="{{ url_for('static',filename='logPages/css/style.css') }}">

	<link rel="stylesheet" href="{{ url_for('static',filename='commanPages/commanStyle.css') }}">

	<!-- Linear icons -->
	<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

	<!-- Jquery -->
	<script
	  src="https://code.jquery.com/jquery-3.6.0.min.js"
	  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	  crossorigin="anonymous"></script>

	<!-- Js file -->
	<script type="text/javascript" src="{{ url_for('static',filename='homePages/homeScript.js') }}"></script>

</head>
<body>
	<DIV class="fluid-container bck_color">
		<div class="header-section">
			<div class="container">
				<div class="menu-bar row">
					<div class="col-sm-1 menu-options">
						<a class="a_links" href="{{url_for('load_user_home', id=data.username)}}">
							Home
							<span class="lnr lnr-home"></span>
						</a>
					</div>
					<div class="col-sm-8">
						
					</div>
					<div class="col-sm-1">
						<!-- Profile
						<span class="lnr lnr-user"></span> -->
					</div>
					<div class="col-sm-1 menu-options">
						<a class="a_links" href="{{url_for('load_user_profile', id=data.username)}}">
							Profile
							<span class="lnr lnr-user"></span>
						</a>
					</div>
					<!-- <div class="col-sm-1 menu-options">
						Settings
						<span class="lnr lnr-cog"></span>
					</div> -->
					<div class="col-sm-1 menu-options">
						<a class="a_links" href="/logout/{{data.username}}">
							Logout
							<span class="lnr lnr-power-switch"></span>
						</a>
					</div>
				</div>
				<div class="welcome_user row">
					<div class="col-sm-2">
						
					</div>
					<div class="welcome_text col-sm-8">
						Welcome 
						<span id="username">{{ data.username }}</span>
					</div>
					<div class="col-sm-2">
						
					</div>
				</div>
				<div class="text_heading row">
					<div class="col-sm-8">
						Total Available Reports : {{ data.no_of_report_created }}
					</div>
					<div class="col-sm-4">
						<div class="row">
							<div class="">
								<input type="text" class="form-control rounded-left" placeholder="Serach Report" name="report_name">
							</div>
							&nbsp;		
							<div class="">
								<button class="btn btn-success" onclick="search_report()">
									Search 
									<span class="lnr lnr-magnifier"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="body-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						{% for report in user_reports %}
						<div class="report_block col-sm-12">
							<div class="row">
								<div class="col-sm-8">
									<div class="report-title">
										{{report['report_title']}}
										<!-- <span class="report-size">
											5
										</span> -->
									</div>
								</div>
								
								<div class="col-sm-4">
									<button class="btn btn-primary" type="button" 
									onclick="download_data_by('{{report.report_id}}')">
										Download 
										<span class="lnr lnr-download"></span>
									</button>
									<a href="{{url_for('load_user_report',id = report['report_created_by'], report_id = report['report_id'])}}">
										<div class="btn btn-success">
											View 
											<!-- <span class="lnr lnr-location"></span> -->
										</div>
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-7">
									<div class="report-type">
										Report Type : {{report['report_type']}}
										
									</div>
									<div class="report-sub-title">Last used : {{report['reprot_last_edit']}}</div>
								</div>
							</div>
							<br>
							<div class="row">
								{% for field in report['report_fields_name'] %}
								<div class="report-fields">
									{{field}}
								</div>
								{% endfor %}
							</div>
						</div>		
						{% endfor %}			
					</div>
					
					<div class="col-sm-5 right_pannel">
						<div class="heading-section_1">
							Last used reports :
						</div>
						<div class="list_reports">	

							{% if report_data %}
								{% for key in report_data %}
								<a href="{{url_for('load_user_report',id=data.username, report_id= key['report_id'] )}}">
									<div class="list_style">{{key['report_title']}} | {{key['report_type']}} | <span class="lnr lnr-book"></span>
										<div>
											Last Edited : {{key['reprot_last_edit'] }}
										</div>
									</div>
								</a>
								{% endfor %}
							{% endif %}
							{% if not report_data %}
								<div class="list_not_available"> No Report Available ! </div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</DIV>
</body>
</html>

