.report_block{
	padding: 20px;
    background-color: #fafafa;
    border-radius: 0.5em;
    margin-bottom: 5px;
}

.report_block:hover{
    /*border: 1px solid #8faabd;*/
}

.report-title{
	font-size: 25px;
    font-weight: 800;
    color: #b71c1c;
}
.report-sub-title{
	font-size: 16px;
    font-weight: bold;
    color: #7d1ee5;
}

.report-type{
	color: darkolivegreen;
	font-weight: 600;
}

.report-size{
	background-color: #7c95f7;
    border-radius: 50px;
    padding: 5px;
    color: white;
    margin: 10px;
    padding-left: 12px;
    font-size: 17px;
    padding-right: 12px;
}
.report-fields{
	color: #ffffff;
    background-color: brown;
    border-radius: 0.3em;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 1px;
    width: fit-content;
}
.report-types{
    color: #ffffff;
    background-color: blue;
    border-radius: 0.3em;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 1px;
    width: fit-content;
}

.form-part{
    background-color: #edf2f5;
    padding: 20px;
    border: 2px solid powderblue;
    border-radius: 1em;
}

.input-area{
    margin-bottom: 2px;
}

.input-header{
    color: navy;
    font-weight: 700;
}

.input-submit{
    margin-top: 10px;
    padding: 5px;

}

.btns{
    /*padding: 3px;*/
    margin: 3px;
    margin-top: 10px;
}

.show-content{
    overflow-y: auto;
    height: 70%;
    /*border-radius: 1em;*/
}

.btn-area{
    /*float: right;*/
}

#share_link{
    display: none;
}

.share_link_area{
    margin-top: 20px;
    border-radius: 0.5em;
    padding: 10px;
    background-color: #fafafa;
    display: flex;
}

.form-link-box{
    border-radius: 0.5em;
    background-color: #353ea7;
    display: inline-block;
    color: #4eefef;
    padding: 3px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.form-link-box:hover{
    cursor: pointer;
}

.copy-btn{
    background-color: #4e6ff3;
    display: inline-block;
    color: #fff;
    border-radius: 0.5em;
    padding: 3px;
    border: none;
    width: fit-content;
    height: fit-content;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.a_link{
    text-decoration: none;
}   